[user]
	email = alex@macleod.io
	name = Alex Macleod
[commit]
	verbose = true
[push]
	default = upstream
[rebase]
	autosquash = true
[diff]
	algorithm = histogram
	colorMoved = default
	colorMovedWS = allow-indentation-change
	mnemonicprefix = true
[pull]
	ff = only
[merge]
	conflictstyle = diff3
	ff = false
[status]
	showStash = true
[tag]
	sort = v:refname
[branch]
	sort = v:refname
