"*":
  "autocomplete-plus": {}
  core:
    autoHideMenuBar: true
  editor:
    fontFamily: "Hasklig"
    invisibles:
      eol: " "
      space: " "
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "01c5d91d-38f2-dfb7-3a4c-12341a62271e"
  "file-icons":
    coloured: false
  "find-and-replace": {}
  "line-ending-selector": {}
  linter:
    errorPanelHeight: 263
    showErrorPanel: false
  "linter-rubocop":
    command: "/home/alex/.gem/ruby/2.2.0/bin/rubocop"
  "markdown-preview":
    useGitHubStyle: true
  "spell-check": {}
  "status-bar": {}
  tabs: {}
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
