"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
    ]
  editor:
    invisibles:
      eol: " "
    fontFamily: "Hasklig"
    softWrap: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  linter:
    errorPanelHeight: 263
  "linter-rubocop":
    command: "/home/alex/.gem/ruby/2.2.0/bin/rubocop"
  "file-icons":
    coloured: false
  "markdown-preview":
    useGitHubStyle: true
  "exception-reporting":
    userId: "01c5d91d-38f2-dfb7-3a4c-12341a62271e"
